// ------------------------- Components -------------------------------------

.logo-wrapper {
	height: $topHeight;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 130px;
	}
}

.main-menu-wrapper {
	flex-grow: 1;
}

.profile-menu-wrapper {
	text-align: center;
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	background-color: $light;
	border: solid 1px darken($light, 10%);

	.p-info {
		color: $F;
		font-size: 0.8em;
		font-weight: 200;
	}

	.menu {
		a {
			color: $dark;
		}
	}
}

.site-info-wrapper {
	height: $bottomHeight;
}

ul, ol {
	li, a {
		font-family: 'Aller', Helvetica, Arial, sans-serif;
		font-weight: 700;
	}
}

.menu {
	text-align: left;
	padding: 0;
	list-style-type: none;

	.m-item {
		display: block;

		a {
			padding: 10px 20px;
			display: block;

			&:hover {
				background-color: darken($light, 5%);
			}
		}

		&.active {
			a {
				color: $red;
				background-color: darken($light, 5%);
			}
		}
	}
}

.login-page-wrapper {
	//display: flex;
	//justify-content: center;
	//align-items: center;
	width: 100%;
	//height: 100%;
}

.form-wrapper {
	//background-color: $F;
	//border: solid 1px $c2;

	&.form-md {
		width: 500px;
	}

	&.form-lg {
		width: 700px;
	}

	.form-header {
		//padding:  15px 20px;
		//background-color: $c2;
		//border-top-left-radius: 5px;
		//border-top-right-radius: 5px;
	}

	.form-title {
		color: $dark;
		font-size: 20px;
		font-weight: 400;
	}

	.form-body {
		padding: 15px 0;
		//border: solid 1px $c2;
		border-bottom: none;
	}

	.form-footer {
		//background-color: $light;
		//border: solid 1px $c2;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
}

.modal-wrapper {
	background-color: rgba($B, .2);
	grid-column: 1 / -1;
	grid-row: 1 / -1;
	grid-template-columns: repeat(20, [col-start] 1fr [col-end]);
	grid-template-rows: $topHeight auto $bottomHeight;
	display: grid;
	//pointer-events: auto;
}

.modal {
	background-color: $F;
	grid-column: 4 / -4;
	grid-row: 2 / 3;
}
