// ------------------------- Components -------------------------------------

.logo-wrapper {
	//flex-basis: 100%;
	//flex-shrink: 0;
	//padding: 15px;
	//width: 100%;
	height: $topHeight;
	display: flex;
	align-items: center;
	justify-content: center;

	svg {
		width: 130px;
	}
}

.main-menu-wrapper {
	flex-grow: 1;
}

.profile-menu-wrapper {
	text-align: center;
	flex-basis: 100%;
	padding: 0 15px;
	display: flex;
	flex-direction: column;

	.p-info {
		color: $F;
		font-size: 0.8em;
		font-weight: 200;
	}

	.menu {
		a {
			color: $F;
		}
	}
}

.site-info-wrapper {
	height: $bottomHeight;
}

ul, ol {
	li, a {
		font-family: 'Aller', Helvetica, Arial, sans-serif;
		font-weight: 700;
	}
}

.menu {
	text-align: center;
	padding: 0;
	list-style-type: none;

	.m-item {
		display: block;
		margin: 20px 0;
	}
}

.login-page-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.form-wrapper {
	background-color: $F;
	//border: solid 1px $c2;

	&.form-md {
		width: 500px;
	}

	.form-header {
		padding:  15px 20px;
		background-color: $c2;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

	.form-title {
		color: $F;
	}

	.form-body {
		padding:  15px 20px;
		border: solid 1px $c2;
		border-bottom: none;
	}

	.form-footer {
		background-color: $light;
		border: solid 1px $c2;
		border-top: none;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}

	.form-footer {
		padding:  15px 20px;
		text-align: center;
	}
}
