// ------------------------- Elements ---------------------------------------

* {
	box-sizing: border-box;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.info-p {
	font-size: 0.8em;
	color: $dark;
	font-family: 'Aller', Helvetica, Arial, sans-serif;
	font-weight: 200;
}

.page-title {
	color: $light;
	font-weight: 300;
}

path {
	transition: $pageTrans;

	&:hover {
		transition: $pageTrans;
	}
}

input {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.f-field {
	@extend .sans-serif;
	margin: 0 0 30px;

	label {
		width: 100%;
		font-weight: 200;
		margin-bottom: 5px;
		display: block;
	}

	input {
		width: 100%;
		border: none;
		border-bottom: solid 1px darken($light, 15%);
		padding: 8px 10px;
	}

	.help {
		margin-top: 8px;
		width: 100%;
		display: block;
		font-weight: 200;
		color: $red;
	}
}

.btn {
	border: solid 1px $c2;
	background: $F;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 700;
	color: $c2;

	&:hover {
		background-color: $c2;
		color: $F;
		cursor: pointer;
	}
}

.account-toggle-icon {
	height: 50%;

	.user {
		fill: $light;
	}

	.bar {
		fill: $light;
	}

	&:hover {
		cursor: pointer;

		.user {
			fill: $c2;
		}
	}
}
