// ------------------------- Elements ---------------------------------------

* {
	box-sizing: border-box;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.info-p {
	font-size: 0.8em;
	color: $dark;
	font-family: 'Aller', Helvetica, Arial, sans-serif;
	font-weight: 200;
}

.top-header-wrapper {
	border-bottom: solid 1px $c1;
	margin: 0 0 20px;
	padding: 0 0 10px;
}

.page-title {
	color: $dark;
	font-weight: 300;
}

path {
	transition: $pageTrans;

	&:hover {
		transition: $pageTrans;
	}
}

input {
	&:focus {
		outline: none;
		box-shadow: none;
	}
}

.f-group {
	display: flex;
	justify-content: space-between;

	.f-field {
		flex-basis: 48%;
		//flex-grow: 1;
	}
}

.f-field {
	@extend .sans-serif;
	margin: 0 0 30px;

	label {
		width: 100%;
		font-weight: 400;
		margin-bottom: 5px;
		display: block;
		opacity: 0;
		transform: translate(-10px, 0);
		transition: $btnTrans;
		color: $c1;

		&.not-empty {
			opacity: 1;
			transform: translate(0, 0);
			transition: $btnTrans;
		}
	}

	input {
		width: 100%;
		border: none;
		border-bottom: solid 1px darken($light, 15%);
		padding: 8px 10px;
		transition: $btnTrans;

		&:focus {
			border-bottom: solid 1px darken($light, 30%);
			transition: $btnTrans;
		}
	}

	.help {
		margin-top: 8px;
		width: 100%;
		display: block;
		font-weight: 200;
		color: $red;
	}
}

*::-webkit-input-placeholder {
	color: darken($F, 30%);
}

*:-moz-placeholder {
	/* FF 4-18 */
	color: darken($F, 30%);
}

*::-moz-placeholder {
	/* FF 19+ */
	color: darken($F, 30%);
}

*:-ms-input-placeholder {
	/* IE 10+ */
	color: darken($F, 30%);
}

.btn {
	border: solid 1px $c1;
	background: $F;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: 700;
	color: $c1;

	&:hover {
		background-color: $c1;
		color: $F;
		cursor: pointer;
	}
}

.account-toggle-icon {
	height: 50%;

	.user {
		fill: $light;
	}

	.bar {
		fill: $light;
	}

	&:hover {
		cursor: pointer;

		.user {
			fill: $c2;
		}
	}
}
