// ------------------------- Base colors ------------------------------------

$F : #FFF;

$B : #000;


// ------------------------- Theme colors -----------------------------------

$light : #F9F9F9;

$dark : #55585D;

$c1 : #6ED3CF;

$c2 : #9068BE;

$c3 : #E62739;


// ------------------------- Sizes ------------------------------------------

$topHeight: 70px;

$bottomHeight: 50px;

// ------------------------- Transitions ------------------------------------

$pageTrans: .3s;
