// ------------------------- Base colors ------------------------------------

$F : #FFF;

$B : #000;


// ------------------------- Theme colors -----------------------------------

$light : #F9F9F9;

$dark : #55585D;

$c1 : #062F4F;

$c2 : #58b5fd;

$red : #B82601;


// ------------------------- Sizes ------------------------------------------

$topHeight: 60px;

$bottomHeight: 50px;

// ------------------------- Transitions ------------------------------------

$pageTrans: .3s;
