// ------------------------- Base colors ------------------------------------

$F : #FFF;

$B : #000;


// ------------------------- Theme colors -----------------------------------

$light : #E1E8f0;

$dark : #55585d;

$c1 : #6ED3CF;

$c2 : #9068BE;

$c3 : #E62739;


// ------------------------- Fonts --------------------------------------------

