// ------------------------- Imports ----------------------------------------

@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/animations';
@import 'partials/layout';
@import 'partials/components';
@import 'partials/elements';


// ------------------------- Styles -----------------------------------------

@for $i from 1 through 4{
	.item-#{$i} { width: 2em * $i; }
}

@each $animal, $color, $cursor in 	(puma, black, default),
	(sea-slug, blue, pointer),
	(egret, white, move) {

	.#{$animal}-icon {
		background-image: url('/images/#{$animal}.png');
		border: 2px solid $color;
		cursor: $cursor;
	}
}

@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
	#{$header} {
		font-size: $size;
	}
}

@mixin large-text {
	font: {
		family: Arial;
		size: 20px;
		weight: bold;
	}
	color: #ff0000;
}

$i: 6;
@while $i > 0 {
	.item-#{$i} { width: 2em * $i; }
	$i: $i - 2;
}

@mixin box-shadow($shadows...) {
	-moz-box-shadow: $shadows;
	-webkit-box-shadow: $shadows;
	box-shadow: $shadows;
}

.shadows {
	@include box-shadow(0px 4px 5px #666, 2px 6px 10px #999);
}

.class {
	grid-area: 'class';

	.child-1 {
		grid-area: 'child-1';

		@at-root .child-1-2 {
			grid-area: 'child-2';
		}
	}
}

@mixin colors($text, $background, $border) {
	color: $text;
	background-color: $background;
	border-color: $border;
}

$values: #ff0000, #00ff00, #0000ff;
.primary {
	@include colors($values...);
}

$value-map: (text: #00ff00, background: #0000ff, border: #ff0000);
.secondary {
	@include colors($value-map...);
}

$color: white;
@mixin colors($color: blue) {
	background-color: $color;
	@content;
	border-color: $color;
}
.colors {
	@include colors { color: $color; }
}
