// ------------------------- Imports ----------------------------------------

@import 'partials/normalize';
@import 'partials/variables';
@import 'partials/typography';
@import 'partials/animations';
@import 'partials/layout';
@import 'partials/components';
@import 'partials/elements';


// ------------------------- Styles -----------------------------------------

#app {
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
