/*
A button suitable for giving stars to someone.


:hover             - Subtle hover highlight. </br>
.stars-given       - A highlight indicating you’ve already given a star. </br>
.stars-given:hover - Subtle hover highlight on top of stars-given styling. </br>
.disabled          - Dims the button to indicate it cannot be used. </br>

Styleguide 2.1.3.
*/
a.button.star{
	color: red;
}
a.button.star.stars-given{
	color: green;
}
a.button.star.disabled{
	color: blue;
}
